body { 
    margin: 0;
}
header {
        background: linear-gradient(360deg, #4A2C00, #D1B072);
        color: white;
        padding: 20px;
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Bebas Neue";
        font-size: 32px;    }

    header img {
        max-width: 100px;
        width: 40px;
    }

    header h1 {
        margin: 0;
        font-size: 20px;
        font-weight: normal;
    }
    nav {
    width: 100%;
    background: linear-gradient(180deg, #4A2C00, #D1B072); 
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    font-family: "Signika"; 
}

#menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

.menu-item {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    background: linear-gradient(180deg, #8B4513, #E6C299); 
    top: 60px;
    padding: 0;
    min-width: 160px;
    z-index: 1;
}

.submenu a {
    padding: 10px;
    display: block;
    color: white;
}

.menu-item:hover .submenu {
    display: block;
}

#menu a:hover, .submenu a:hover {
        background: linear-gradient(180deg, #8B4513, #E6C299); 
}
.cadastro {
   background-image: url("IMG/background.jpg");
   padding: 20px;
   border-radius: 8px;
   margin-top: 50px;
   margin-bottom: 50px;
   margin-left: 30%;
   margin-right: 30%;
   display: inline-table;
}
.cadastro a {
    text-decoration:none;
    transition: 0.3s ease;
    pointer-events:click;
    color: black;
}
.cadastro a:hover { 
    text-decoration: underline;
}
.cadastro h2 {
    font-size: 24px;
    font-family: "Bebas Neue";
    color: white;
    display: flex;
}
.cadastro p {
    color: white;
    font-family: "Signika";
}
.cadastro input {
    border-radius: 15px;
    border: none;
    width: 250px;
    padding: 14px;
    transition: 0.3s ease; 
    
}
.cadastro h5 {
    display: inline-block;
    color: white;
    font-size: 13px;
}
.cadastro input:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;   
}
.news button {
    border-radius: 30px;
    border: none; 
    transition: 0.3s ease;
    pointer-events: click;
    padding: 8px;
    background: linear-gradient(180deg, #8B4513, #E6C299); 
    color: white;
    font-family: "Signika";
    font-weight: bold;
}
.news button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.rejectBtn {
    margin-left: 150px;
    margin-bottom: 10px;
    width: 60px;

}
.acceptBtn {
    margin-bottom: 10px;
    width: 60px;
}
.cad button{
    border-radius: 20px;
    width: 99%;
    margin-top: 40px;
    padding: 20px;
    background: linear-gradient(180deg, #8B4513, #E6C299); 
    border: none; 
    transition: all 0.3s ease;
    pointer-events: click;
    color: white;
    font-family: "Signika";
    font-weight: bold;
}
.cad button:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    text-decoration: none;
}
footer {
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #4A2C00, #D1B072); 
    padding: 20px;
    font-family: "Bebas Neue";
}
footer img {
    margin-right: 15px;
    max-width: 100px;
    height: 80px;
}
.image {
    display: flex;
    flex-direction: column;
}

.footer-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-item img {
    width: 24px;
    height: 24px;
    margin: 10px 10px;
}

.footer-item p {
    margin: 0;
    font-size: 14px;
    color: white;
}
