body {
    margin: 0;
    font-family: 'Raleway';
    padding: 0;
    font-size: 3em; 
    max-width: 100%;
}
.menu-head {
    background-color: #59400F;
    padding: 14px;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: max-content;
}

.menu-head img {
    width: 70px;
    margin-top: 8px;
}

.menu-head ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; 
}

.menu-head ul li {
    margin-right: 20px; 
    padding: 10px 20px;
    border-right: 2px solid #725214;
    transition: background-color 0.5s cubic-bezier(0.2, 0, 0.2, 1), transform 0.5s ease; /* Transição suave */
    transform-origin: left;
    cursor: pointer;
}
.menu-head a {
 color:white;
 text-decoration: none;
  }
.menu-head ul li:hover {
    background-color: #725214; 
    transform: translateX(10px); /* Efeito de transição suave para a direita */
}
footer {
    background-color: #59400F;
    padding: 14px;
    margin-top: 235px;
    justify-content: space-between; 
    align-items: center;   
    width: 180%;
    left: 0;
    bottom: 0;
    z-index: 1;
}
footer img {
    width: 70px;
    margin-top: 8px;
}
section {
    background: linear-gradient( to bottom, #725214,#876421, #AC8843);
    color: white;
    padding: 24px;
    margin-left: 30%;
    margin-top: 1vh;
    width: 83%;
    border-radius: 28px;    
   margin-bottom: 8px;
}
 #countdown {
  background: linear-gradient( to bottom, #725214,#876421, #AC8843);
    color: white;
    padding: 14px;
    margin-left: 30%;
    margin-top: 2vh;
    width: 84%;
}
 #countdown h2 {
   margin-left: 15vh;
   margin-bottom: -2px;
   margin-top: -1px;
 }
 #countdown #days {
    margin-left: 34vh;
 }
 #genre-description {
     border-radius: 30px;
     background: radial-gradient(circle, #725214,#876421, #AC8843);
     color: white;
     font-size: 1em;
     margin-top: 4vh;
     margin-left: 11px;
     width: 99.2vh;
     text-align: center;
     margin-bottom: 30px;
 }
section .filter {
    margin-top: 8px;
    font-size: 1em;
}

select {
    padding: 10px;
    border-radius: 18px;
    font-size: 34px; 
    margin-left: 1.2vh;
}
#book-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas de tamanho igual */
    gap: 4%; /* Espaçamento entre os livros */
    padding: 25px;
    margin-bottom: 28px;
}
.book {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 15px;
    background-color: #725214;
    box-sizing: border-box;
    text-align: center;
    font-size: 0.8em;
    cursor: default;
    transition: background-color 0.8s cubic-bezier(0.2, 0, 0.2, 1), transform 0.4s ease;
    transform-origin: top;
    color: white;
    margin-right: 280px;
}
.book:hover {
    background: #AC8843;
    transform: scale(1.1);
}
.book img {
    max-width: 84%;
    padding: 8px;
    height: auto;
    border: 2px solid #AC8843;    
}
#emprestimo {
    background: black;
    color: white;
    padding: 8px;
    font-family: 'Raleway';
    transition: background-color 0.5s cubic-bezier(0.2, 0, 0.2, 1), transform 0.5s ease;
    overflow: hidden;
    transform-origin: left;
    font-size: 1em;
    width: 90%; 
    box-sizing: border-box;
    margin-bottom: 30px;
}

#emprestimo:hover {
    background: white;
    transform: scale(1.05);
    color: black;
}
#pagination {
    margin-left: 35%;
    margin-top: 25%;
    font-size: 1em;
}
#prev-btn {
    background: black;
    color: white;
    padding: 4px;
    font-family: 'Raleway';
    transition: background-color 0.5s cubic-bezier(0.2, 0, 0.2, 1), transform 0.5s ease;
    transform-origin: left;
    font-size: 0.8em;
    width: 25%; 
}
#next-btn {
    background: black;
    color: white;
    padding: 8px;
    font-family: 'Raleway';
    transition: background-color 0.5s cubic-bezier(0.2, 0, 0.2, 1), transform 0.5s ease;
    transform-origin: left;
    font-size: 0.8em;
    width: 25%; 
}
#prev-btn:hover, #next-btn:hover {
    background: white;
    transform: scale(1.05);
    color: black;
}
