.book, #protocol {
    display: block;
    margin: 20px 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

body {
    margin: 0;
    font-family: 'Raleway';
    padding: 0;
    font-size: 3em; 
    max-width: 100%;
}

.menu-head {
    background-color: #59400F;
    padding: 14px;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: max-content;
}

.menu-head img {
    width: 70px;
    margin-top: 8px;
}

.menu-head ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; 
}

.menu-head ul li {
    margin-right: 20px; 
    padding: 10px 20px;
    border-right: 2px solid #725214;
    transition: background-color 0.5s cubic-bezier(0.2, 0, 0.2, 1), transform 0.5s ease;
    transform-origin: left;
    cursor: pointer;
}

.menu-head a {
    color: white;
    text-decoration: none;
}

.menu-head ul li:hover {
    background-color: #725214; 
    transform: translateX(10px);
}

footer {
    background-color: #59400F;
    padding: 14px;
    margin-top: 235px;
    justify-content: space-between; 
    align-items: center;   
    width: 180%;
    left: 0;
    bottom: 0;
    z-index: 1;
}

footer img {
    width: 70px;
    margin-top: 8px;
}

#carrd {
    display: flex;
    justify-content: space-between;
    gap: 4%;
    margin-top: 5%;
    width: 100%;
}

#emp {
    background-color: #876421;
    padding: 16px;
    height: 50%;
    width: 88%;
    color: white;
    border-radius: 10px;
    transition: transform 0.4s ease;
    transform-origin: left;
    margin-left: 20px;
}

#cep {
    background-color: #876421;
    padding: 16px;
    height: 50%;
    width: 88%;
    color: white;
    border-radius: 10px;
    transition: transform 0.4s ease;
    transform-origin: left;
    margin-left: 0px;
    margin-right: -40vh;
}

#emp h2, #cep h3 {
    color: white;
    margin-bottom: 12px;
}

#emp p {
    color: white;
    font-size: 0.8em;
    text-align: justify;
}

#emp:hover, #cep:hover {
    transform: scale(1.1);
}

#protocol {
    background-color: #876421;
    padding: 16px;
    height: 80%;
    width: 81%;
    color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#protocol button {
    background: black;
    color: white;
    height: 80px;
    width: 80%;
    margin-left: 4%;
    margin-top: 10%;
    font-size: 0.7em;
}

.prototitle h2, #dataemp h2 {
    font-size: 1.1em;
    margin-bottom: 18px;
    margin-left: 40px;
    margin-top: 40px;
}

#protocol input {
    padding: 18px;
    margin-left: 4%;
    width: 74%;
    border-radius: 8px;
}

#protocol #sent {
    display: float;
    margin-bottom: -30vh;
}

.book {
    background-color: #876421;
    padding: 14px;
    height: 120%;
    width: 90%;
    color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8em;
    overflow: hidden;
}

.book img {
    max-width: 70%;
    margin-left: 10px;
}

#empdata {
    padding: 8px;
    font-size: 1em;
    margin-left: 4%;
    width: 74%;
}