@font-face {
   font-family: "Kanit";
   src: url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;800&display=swap");
}
@font-face {
   font-family: "Bebas Neue", "Nerko One", "Signika";
   src: url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nerko+One&family=Signika:wght,GRAD@600,-30..0&display=swap");
}
body {
    margin: 0;
  height: 100vh;
}
.slider-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 80%; 
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
}
    header {
        background: linear-gradient(360deg, #4A2C00, #D1B072);
        color: white;
        padding: 20px;
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Bebas Neue";
        font-size: 32px;    }
    
    header img {
        max-width: 100px;
        width: 40px;
    }
    
    header h1 {
        margin: 0;
        font-size: 20px;
        font-weight: normal;
    }
    nav {
    width: 100%;
    background: linear-gradient(180deg, #4A2C00, #D1B072); 
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    font-family: "Signika"; 
}

#menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

.menu-item {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    background: linear-gradient(180deg, #8B4513, #E6C299); 
    top: 60px;
    padding: 0;
    min-width: 160px;
    z-index: 2;
}

.submenu a {
    padding: 10px;
    display: block;
    color: white;
}

.menu-item:hover .submenu {
    display: block;
}

#menu a:hover, .submenu a:hover {
        background: linear-gradient(180deg, #8B4513, #E6C299); 
}
.menu-item:hover .submenu {
    display: block;
}
#menu a:hover, .submenu a:hover {
        background: linear-gradient(180deg, #8B4513, #E6C299); 
}

.login {
   background: linear-gradient(360deg, #774905, #e2be7c);
   margin-top: 8%;
   margin-bottom: 8%;
   margin-left: 35%;
   margin-right: 4%;
   border-radius: 40px;
   width: fit-content;
   padding: 4%;
}
.titles {
    padding: 10px 0;
    margin-right: 50px;
    margin-bottom: 4px;
    margin-top: 4px;
    text-align: center;
    color: white;
    font-family: 'Kanit';
}
.label {
    text-align:center;
    margin-right: 50px;
    margin-bottom: 4px;
    margin-top: 4px;
}
.label input {
    border-radius: 100px;
    border: none;
    padding: 6px;
}
.login button {
    padding: 10px;
    width: 200px;
    background: linear-gradient(140deg, #000000, #4A4A4A);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 50px;
    margin-bottom: 4px;
    margin-top: 34px;
    margin-left: 19px;
    font-family: 'Kanit';
}
footer {
    align-items: center;
    background: linear-gradient(180deg, #4A2C00, #D1B072); 
    padding: 20px;
    font-family: "Bebas Neue";
    margin-top: 12px;
    margin-bottom: -800px;
}
footer-logo {
  max-width: 100px;
}
footer img {
    margin-right: 15px;
    max-width: 100px;
    height: 80px;
}
.image {
    display: flex;
    flex-direction: column;
}

.footer-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-item img {
    width: 24px;
    height: 24px;
    margin: 10px 10px;
}

.footer-item p {
    margin: 0;
    font-size: 14px;
    color: white;
}

@media (min-width: 1240px) {
    header {
        padding: 30px 40px;
    }

    header img {
        max-width: 150px;
        width: 60px;
    }

    header h1 {
        font-size: 28px;
    }

    nav {
        gap: 40px; 
        padding: 16px;
    }

    nav a {
        font-size: 18px;
    }
    footer {
        padding: 30px 40px;
    }

    footer img {
        max-width: 150px;
        width: 70px;
    }
}
