@font-face {
   font-family: "Kanit";
   src: url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;800&display=swap");
}
@font-face {
   font-family: "Bebas Neue", "Nerko One", "Signika";
   src: url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nerko+One&family=Signika:wght,GRAD@600,-30..0&display=swap");
}
body {
    margin: 0;
}
.slider-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 80%; 
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px;
}
    header {
        background: linear-gradient(360deg, #4A2C00, #D1B072);
        color: white;
        padding: 20px;
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: "Bebas Neue";
        font-size: 32px;    }
    
    header img {
        max-width: 100px;
        width: 40px;
    }
    
    header h1 {
        margin: 0;
        font-size: 20px;
        font-weight: normal;
    }
    nav {
    width: 100%;
    background: linear-gradient(180deg, #4A2C00, #D1B072); 
}

#menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    font-family: "Signika"; 
}

#menu a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
}

.menu-item {
    position: relative;
}

.submenu {
    display: none;
    position: absolute;
    background: linear-gradient(180deg, #8B4513, #E6C299); 
    top: 60px;
    padding: 0;
    min-width: 160px;
    z-index: 2;
}

.submenu a {
    padding: 10px;
    display: block;
    color: white;
}

.menu-item:hover .submenu {
    display: block;
}

#menu a:hover, .submenu a:hover {
        background: linear-gradient(180deg, #8B4513, #E6C299); 
}
.menu-item:hover .submenu {
    display: block;
}
#menu a:hover, .submenu a:hover {
        background: linear-gradient(180deg, #8B4513, #E6C299); 
}
.slider-container {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 80%; 
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 30px; }
.slider a {
    text-decoration: none;
    color: #8B4513;
    font-weight: bold;
}
.slider h2 {
    font-weight: bold; 
    color: #D4A85D;
}
.slider h3 {
    font-weight: bold; 
    text-align: justify;
}
.slider p {
  font-family: "Lucida Sans", sans-serif;
   margin: 4px 4px;
  text-align: justify; 
  font-size: 20px;}
  .slider {
    display: flex;
    transition: transform 0.5s ease; 
}
.slider > div {
    min-width: 300px; 
    margin: 0 15px; 
    background: linear-gradient(180deg, #4A2C00, #D1B072); 
    color: white; 
    border-radius: 10px;
    padding: 20px; 
    box-sizing: border-box;
}
.slider img {
    width: 100px; 
    height: auto; 
    margin-bottom: 20px;
    border-radius: 20px;
    border: solid #4A2C00;
    padding: 3px;
}
.arrow {
    background: transparent; 
    border: none; 
    padding: 10px; 
    cursor: pointer; 
    font-size: 20px; 
    position: absolute; 
    top: 50%;
    transform: translateY(-50%); 
    color: #333; 
}
.left-arrow {
    left: -10px; 
}
.right-arrow {
    right: -10px; 
}
.carousel-container {
    width: max-content;
    max-width: 890px; 
    margin-bottom: 8px;
    margin-left: 25%;
    margin-top: 8px;
    overflow: hidden; 
    position: relative;
    
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%; 
    min-width: 100%;
}
.modal {
    display: none; 
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background: linear-gradient(180deg, #3B1F00, #A87C4F);
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 500px;  
    position: relative;
    
}
.modal-content h2 {
    color: #D4A85D;
    font-family: "Bebas Neue";
    
}
.modal-content p {
    color: white;
    text-align: justify;
    font-family: "Signika";
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.modal-content button {
  margin: 30px;
    padding: 10px;
    background: linear-gradient(140deg, #000000, #4A4A4A);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #4A4A4A;
}

.modal-content h6 {
    font-size: 12px;
    color: #555;
    margin-top: 10px;
}
 select {
            position: relative;
            display: inline-block;          
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 8px;
            background-color: #fff;
            cursor: pointer;           
        }
.wrapper {
    position: fixed;
    bottom: 50px;
    right: 20px ; 
    max-width: 345px;
    width: 100%;
    background: linear-gradient(180deg, #594216, #ffbd40);
    border-radius: 8px;
    padding: 15px 25px 22px;
    transition: right 0.3s ease;
    font-family: "Bebas Neue";
    z-index: 2;
}
.wrapper show {
    right: 20px;
}
.wrapper section  {
    display: flex;
    align-items: center;
    column-gap: 15px;
}
.wrapper i { 
    font-size: 32px;
    color: white;
}
.wrapper h2 {
    font-weight: 500;
    color: white;
}
.wrapper p {
    font-size: 16px;
    color: white;
    
}
.data a { 
   color: #edededae;
    text-decoration: none;
}
.data a:hover{
    text-decoration: underline;
}
.buttons {
    margin-top: 16px;
    width: 100%;
    display: flex;
     align-items: center;
     justify-content: space-between;
}
.buttons button {
    border: none;
    color: white;
    padding: 8px 0;
    border-radius: 4px;
    background: linear-gradient(180deg, #8f6a24, #edb03c);
    cursor: pointer;
    width: calc(100% / 2 - 10px);
    transition: all 0.3s ease ;
}
    .buttons button:hover {
       background: linear-gradient(180deg, #3B1F00, #A87C4F);
    }
footer {
    display: block;
    align-items: center;
    background: linear-gradient(180deg, #4A2C00, #D1B072); 
    padding: 20px;
    font-family: "Bebas Neue";
}
footer-logo {
  max-width: 100px;
}
footer img {
    margin-right: 15px;
    max-width: 100px;
    height: 80px;
}
.image {
    display: flex;
    flex-direction: column;
}

.footer-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-item img {
    width: 24px;
    height: 24px;
    margin: 10px 10px;
}

.footer-item p {
    margin: 0;
    font-size: 14px;
    color: white;
}

@media (min-width: 1240px) {
    header {
        padding: 30px 40px;
    }

    header img {
        max-width: 150px;
        width: 60px;
    }

    header h1 {
        font-size: 28px;
    }

    nav {
        gap: 40px; 
        padding: 16px;
    }

    nav a {
        font-size: 18px;
    }

    .slider-container {
        width: 80%; 
        margin-top: 80px;
        margin-bottom: 50px;
        z-index: 1;
    }

    .slider > div {
        min-width: 400px; 
        margin: 0 25px;
        padding: 30px; 
    }

    .slider img {
        width: 150px; 
        margin-bottom: 30px;
    }
    footer {
        padding: 30px 40px;
        display: block;
    }

    footer img {
        max-width: 150px;
        width: 70px;
    }
}
