.menu-head {
    background-color: #59400F;
    padding: 10px;
    margin-top: -10px;
    margin-right: -10px;
    margin-left: -10px;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 100vh;
}

.menu-head img {
    width: 70px;
    margin-top: 8px;
}

.menu-head ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0; 
}

.menu-head ul li {
    margin-right: 20px; 
    padding: 10px 20px;
    border-right: 2px solid #725214;
    transition: background-color 0.5s cubic-bezier(0.2, 0, 0.2, 1), transform 0.5s ease; /* Transição suave */
    transform-origin: left;
    cursor: pointer;
}
.menu-head a {
 color:white;
 text-decoration: none;
  }
.menu-head ul li:hover {
    background-color: #725214; 
    transform: translateX(10px); /* Efeito de transição suave para a direita */
}
footer {
     background-color: #59400F;
    padding: 10px;
    margin-top: 235px;
    justify-content: space-between; 
    align-items: center;   
    width: 100vh;
  left: 0;
  bottom: 0;
  z-index: 2;
}
footer img {
    width: 70px;
    margin-top: 8px;
}
.índice-título h2 {
    font-family: 'Raleway';
    margin-top: 120px;
    text-align: center;
    margin-left: 80px;
    margin-bottom: -4vh;
    color: white;
    font-size: 68px;
}
.índice-título p {
    font-family: 'Tangerine';
    font-size: 80px;
    text-align: center;
    margin-top: 0;
    color: white;
    font-size: 10em;
    margin-right: 7vh;
}
.índice-título{
    background: linear-gradient(to left, #4F3002, #A37213, #B47E12, #4C2D00);
    width: 80vh;
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 5vh;
    margin-bottom: 5vh;   
    white-space: nowrap;    
}
.container-sobre{
    display: flex;
    justify-content: space-between;
    gap: 20px; 
    margin: 40px auto;
    max-width: 1600px;     
    padding: 20px;
    align-items: flex-start; 
}
.INÍCIO, .FUNDACAO {
    flex: 1; 
    background-color: #F9DEAD;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.8;
    min-width: 800px; 
}
.INÍCIO h2, .FUNDACAO h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to left, #4F3002, #A37213, #B47E12, #4C2D00);
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 2.5em;
    letter-spacing: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.INÍCIO h4, .FUNDACAO h4 {
    text-align: center;
    font-family: 'Tangerine';
    background: linear-gradient(to left, #4F3002, #A37213, #B47E12, #4C2D00);
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 2.5em;
    letter-spacing: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.INÍCIO p, .FUNDACAO p {
    margin: 20px 0;
    font-family: 'Raleway';
    color: #59400F;
}
.mapa-aurora h2 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background: linear-gradient(to left, #4F3002, #A37213, #B47E12, #4C2D00);
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 2.5em;
    letter-spacing: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.mapa-aurora h4 {
  font-family: 'Tangerine';
  text-align: center;
    background: linear-gradient(to left, #4F3002, #A37213, #B47E12, #4C2D00);
    color: white;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 2.5em;
    letter-spacing: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.mapa-aurora {
    background-color: #F9DEAD;
    padding: 32px 32px 140px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: justify;
    font-size: 1.1em;
    line-height: 1.8;
    margin-left: 100px;
    margin-bottom: 40px;
    width: 1500px;
    
}
.INÍCIO p::first-letter, .FUNDACAO p::first-letter,  .mapa-aurora p::first-letter{
    font-size: 5em; 
    font-weight: bold; /
    color: white; 
    float: left; 
    margin-right: 8px; 
    margin-left: 8px;
}
.mapa-aurora p {
    margin: 20px 0;
    font-family: 'Raleway';
    color: #59400F;
}
/* Para dispositivos móveis */
@media (max-width: 900px) {
    .container-sobre {
        flex-direction: column;
    }
    .INÍCIO, .FUNDACAO {
        margin-bottom: 20px;
    }
}
